.navigation {
    padding: 1rem;
    background-color: grey;
    display: flex;
    justify-content: center;
}

.navbar .navbar-nav {
    flex-direction: row;
    justify-content: center;

    a {
        margin: 0 !important;
        padding: 1rem;
    }
}

.navigation__link {
    padding: 0.5rem;
}

.navbar-nav {
    align-items: center;
}

@media only screen and (min-width: 992px) {
    .navbar-nav {
        margin-left: auto;

        a {
            padding-left: 3rem;
        }
    }
}