.user {
    height: 100%;
    background-image: url("https://www.kramfors.se/images/18.1fbd54a916b92d787f139735/1562846428218/Scandinav_OG17_(1).jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;
   
}

.user__inner {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.objective-numbers {
    display: flex;
    justify-content: flex-end;
    color: black;
}

.card {
    background: #212529 !important;
    height: 500px;
    color: white;
}

.budget-card {
    height: auto;
}

.accordion,
.income-container {
    overflow: scroll;

    	/* Hide scrollbar for Chrome, Safari and Opera */
	&::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

@media only screen and (min-width: 768px) {
    .user {
        height: 100%;
    }
}